@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center display-4">Ласкаво просимо</h1>
            <p class="text-center">Вітаємо в нашому додатку для покупки автомобілів з широким вибором та зручними опціями.</p>
            <p class="text-center">Дізнайтеся більше про <a href="https://learn.microsoft.com/aspnet/core">створення веб-додатків за допомогою ASP.NET Core</a>.</p>
        </div>
        <div class="col-md-6">
            <img src="~/img/komplekt-kartochek-po-metodike-glena-domana-mini-2-v-1-marki-avtomobilej-russkjaz-vunderki-removebg-preview.png"  class="img-fluid">
        </div>
    </div>
</div>
